*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0f1c40, #2e38d4, #dc2dc4);
}

.datetime{
    color: white;
    background: #10101E;
    font-family: 'Lato', sans-serif;
    width: 400px;
    padding: 15px 10px;
    border: 4px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

/* .datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
} */

.date{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3px;
}

.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    background: #fb26f1;
    font-size: 25px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
}

#colon{
    font-weight: lighter;
    bottom: 6px;
    margin: 0;
}